<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Test1</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/ECommerce.js"></script>
</head>
<body>
    <h1>Siteme geldiniz!</h1>
    @RenderBody()
    <h3><a href="@Url.Action("Contact","Home")">İletişim için tıklayın</a></h3>
</body>
</html>
