@model Category

@{await Html.RenderPartialAsync("_Partial_Categories");}

@*<p>
    <a href="@Url.Action("Index", "Home")">Anasayfa</a>
</p>*@
<h2>@Model.Name</h2>
<p>@Model.Description</p>


    <form >
        <input type="hidden" id="CategoryId" value="@Model.Id" />
        <input type="text" id="ProductName" />
        <input type="text" id="ProductDescription" />
        <input type="button" value="Kaydet" class="btn btn-success" onclick="ECommerce.Page.Category.Save();" />
    </form>


<div id="Holder-Products">

</div>

<script>
    $(document).ready(function() {
        ECommerce.Page.Category.List();
    });
</script>